@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.nav-style{
    height: 10vh;
    background-color: rgb(248, 248, 248) !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rounded-carousel .carousel-inner,
.rounded-carousel .carousel-item {
        border-radius: 15px; /* Sesuaikan nilai sesuai kebutuhan Anda */
        overflow: hidden;
}
.rounded-carousel .carousel-inner img {
    max-height: 700px; /* Sesuaikan nilai tinggi maksimal yang diinginkan */
    object-fit: cover;
}
.bi-instagram{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
