/* Style Carousel */
/* .rounded-carousel .carousel-inner,
.rounded-carousel .carousel-item {
    border-radius: 15px;
    overflow: hidden;
}

.rounded-carousel .carousel-inner img {
    max-height: 700px;
    object-fit: cover;
}
*/