/* css untuk memberikan garis bawah */
.smooth-line {
    width: 200px;
    height: 3px;
    background-color: #333;
    border-radius: 10px;
}

.btn-smas {
    background-color: #4a397e;
    color: #fff;
}

.btn-smas:hover {
    background-color: #7a68b1;
    color: #fff;
}

/* css untuk progres bar */
.progress-container {
    min-width: 100%;
    width: 350px;
}

.progress-container::before {
    content: '';
    background-color: rgb(194, 193, 193);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #4a397e !important;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 5px !important;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #826ebd !important;
    color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 3px solid rgba(175, 175, 175, 0.726) !important;
    transition: .4s ease;
}

.circle.active {
    background-color: #4a397e !important;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.output-message {
    display: none;
}

.output-message.active {
    display: block;
}

/* cass untuk pesan diterima, ditolak, dan diproses */
.proses {
    background-color: rgba(138, 255, 127, 0.63);
    border: 2px solid rgb(138, 255, 127);
}

.terima {
    background-color: rgba(127, 197, 255, 0.63);
    border: 5px solid rgb(127, 240, 255);
}

.tolak {
    background-color: rgba(255, 127, 155, 0.63);
    border: 2px solid rgb(255, 127, 138);
}

/* css untuk memberikan efek pada icon diterima pada step ke-4 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.center-element {
    animation: fadeIn 1s ease-out;
}

/* css untuk upload dokumen pada step ke3 */

.inpt-doc {
    border: 2px solid #c5c5c5;
    background-color: #ebebeb;
    border-style: dashed;
}


/* Main PPDB CSS */
.line {
    width: 300px;
    height: 5px;
    background-color: #333;
    border-radius: 10px;
}

.ppdb-news {
    max-height: 600px;
}

.ppdb-news .card-img-overlay {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -5%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease, width 0.5s ease;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.ppdb-news:hover .card-img-overlay {
    opacity: 1;
}

.ppdb-news .card-img {
    transition: filter 1s ease;
    width: 100%;
}

.ppdb-news:hover .card-img {
    filter: brightness(20%);
}

@media (max-width: 768px) {
    .ppdb-news .card-img-overlay {
        padding: 10px;
    }
}

/* Style untuk layar besar (ukuran desktop) */
.card-title,
.card-text,
.card-text small {
    display: block;
}

/* Style untuk layar kecil (ponsel) */
@media (max-width: 575px) {

    .card-title,
    .card-text,
    .card-text small {
        display: none;
        /* Menyembunyikan elemen pada layar ponsel */
    }

    .ppdb-news.btn {
        display: block;
        /* Menampilkan tombol pada layar ponsel */
    }

    .ppdb-news.card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translate(-50%, -50%);
    }
}